.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    background-color: aqua;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
}

.side-nav-section{
    width: 5vw;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.main-section{
    width: 95vw;
    background-color: rgb(120, 80, 80);
    height: 100vh;
}

.component-section{
    width: 95vw;
    height: 95vh;
    background-color: blue;
}